*, *:before, *:after {
 box-sizing: inherit;
}

/* STRUCTURE */

html { 
  box-sizing: border-box;

  width: 100vw;
}

body{

	width: 100vw;
  	min-height: 100vh;
  	overflow-x: hidden;

  	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color:#6c757d3d;
	font-family: 'Poppins';
	
	padding: 0;
	margin:0;
}

header{
	padding: 0;
	/*box-sizing: border-box;*/
	background: url(../images/img1.jpg);
	height: 15em;
	background-size: cover;
}

nav{
	min-height: 5vh;
	background: rgb(46, 127, 240);
	box-shadow: 1px 5px 5px lightgrey;
	
}


main > .container {
	box-shadow: 1px 5px 5px lightgrey;
	background-color:#ffffff33;
}

footer{
	background-color: #2e7ff0;
	/*46, 127, 240*/
	position: relative;
	height: 1.8em;
	width: 100%;
	padding: .8em;
}

/* COMMON CLASSES*/

section {
	padding-left: 1em;
	padding-right: 1em;
}

h1{
	font-family: 'Philosopher', sans-serif;
	color: #fff;
	text-shadow: 1px 5px 5px #000;
}
h2{
	text-transform: uppercase;
	font-family: 'Alfa Slab One', cursive;
	color: #009ada;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 8vw;
	text-shadow: 1px 1px 1px #91d3ff,
	1px 2px 1px #91d3ff,
	1px 3px 1px #91d3ff,
	1px 4px 1px #91d3ff,
	1px 5px 1px #91d3ff,
	1px 6px 1px #91d3ff,
	1px 7px 1px #91d3ff,
	1px 8px 1px #91d3ff,
	1px 9px 1px #91d3ff,
	1px 10px 1px #91d3ff,
	1px 18px 6px rgba(16,16,16,0.4),
	1px 22px 10px rgba(16,16,16,0.2),
	1px 25px 35px rgba(16,16,16,0.2),
	1px 30px 60px rgba(16,16,16,0.4);
	transform: 0.8s all;
	text-align: center;
}

/*nav ul{
	padding: 0 100px;
}*/

nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active{
	background: #fff;
}

.blue {/*
	background-color: #2e7ff0;*/
	background: linear-gradient(transparent, #2e7ff0, transparent);
	padding: 6em 1em;
}
.subscribe{
	position: relative;
	/*left: 50%;
	transform: translate(-50%, -50%);*/
	width: 250px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	color: #009ada;
	display: inline-block;
	text-decoration: none;
	background: linear-gradient(to right, #acb6e5, #86fde8);
	box-shadow: 1px 5px 5px #acb6e5;
	/*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
            	
}

.subscribe:hover{
	text-decoration: none;
}
.subscribe svg,
.subscribe svg rect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
.subscribe svg rect{
	stroke: #32547d;
	stroke-width: 4;
	transition: 2s;
	stroke-dasharray: 70 250;
	stroke-dashoffset: 390;
}
.subscribe:hover svg rect{
	stroke: #2eca94;
	stroke-dasharray: 250 70;
	stroke-dashoffset: 0;
}

.parallax {
	background: url(../images/img2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.name-asso {
	font-size: 2.5vw;
	padding-top: 3.5vh;
}

.logo-div {
	padding-top: 3.5vh;
}

.btn-link-grey {
	box-shadow: 1px 5px 5px grey;
}

.btn-link-red {
	box-shadow: 1px 5px 5px red;
}
.btn-link-green {
	box-shadow: 1px 5px 5px green;
}

.btn-link-green,
.btn-link-red,
.btn-link-grey {
	background-color: white;
	height: 2.5em;
	width: 12em;
	margin-bottom: 0.8em;
}
.btn-link-green,
.btn-link-red{
	width: 3em;
}

.cadre {
	border-radius: 4px;
}

.navbar-light .navbar-nav .nav-item .nav-perso:hover,
.navbar-light .navbar-nav .nav-item.active .nav-perso {
	background: #2e7ff0;
	color: #fff;
}

.btn-nav-item {
	margin-bottom: auto;
	margin-top: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.logo {
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	margin: 0 auto;
	border: 1px solid #000;
	box-shadow: 1px 5px 5px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 6em;
	height: 6em;
}


.logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
}

.img-port{

	height: 15em;
}

.cardSwip{
	position: relative;
	background: #fff;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 10px;
}

.cardSwip .content{
	width: 400px;
	padding: 30px;
	box-sizing: border-box;
}

.cardSwip .content a{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #262626;
	color: #262626;
	font-weight: 600;
}

.cardSwip .sliderText{
	position: relative;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 0 0;
	background: #000;
	text-align: center;
}

.cardSwip .sliderText h3{
	color: #fff;
	font-size: 3em;
}

.swiper-slide{
	width: 400px;
}

.swiper-slide .sliderText{
	background: #2196f3;
}

.text1{
	font-size:2em;
	border-radius: 10px;
	/*background-color: rgba(46, 127, 240, 0.3);
	box-shadow: 1px 5px 5px #2e7ff0;*/
	width: 100%;
	height: 100%;
	margin: auto;

}

.colorlink{
	color: black;
}

.footerlink{
	color: black;
}

.footerlink:hover{
	color: white;
	text-decoration: none;
}
