body{
	
	font-family: sans-serif;
}

header{

	padding: 10px 100px;
	box-sizing: border-box;
	background: url(img/img1.jpg);
	height: 250px;
}

img{

	width: 150px;
	height: auto;
}

nav{

	min-height: 8vh;
	background: #2e7ff0;
}

nav ul{

	padding: 0 100px;
}

nav ul li a{

	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active{

	background: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{

	background: #2e7ff0;
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}