html { 
  box-sizing: border-box;
  width: 100%;
}

body{
	padding: 0;
	margin:0;
	font-family: 'Poppins';
}

*, *:before, *:after {
 box-sizing: inherit;
}

h1{
	font-family: 'Philosopher', sans-serif;
}
header{
	padding: 0;
	box-sizing: border-box;
	background: url(../images/img1.jpg);
	height: 25em;
	background-size: cover;
}
section {
	padding-left: 1em;
	padding-right: 1em;
}

footer{
	background-color: #2e7ff0;
	/*46, 127, 240*/
	position: relative;
	height: 1.8em;
	width: 100%;
}

nav{
	min-height: 5vh;
	background: rgb(46, 127, 240);
	box-shadow: 1px 5px 5px lightgrey;
	
}

/*nav ul{
	padding: 0 100px;
}*/

nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active{
	background: #fff;
}
main{
	box-shadow: 1px 5px 5px lightgrey; 
	padding-top: 5em;
}
.blue {/*
	background-color: #2e7ff0;*/
	background: linear-gradient(transparent, #2e7ff0, transparent);
	padding: 6em 1em;
}
.parallax {
	background: url(../images/img2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #2e7ff0;
	color: #fff;
}

.btn-nav-item {
	margin-bottom: auto;
	margin-top: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.img-logo{
	width: 80px;
	height: auto; 

}

.img-port{

	height: 15em;
}

.cardSwip{
	position: relative;
	background: #fff;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #000;
}

.cardSwip .content{
	width: 400px;
	padding: 30px;
	box-sizing: border-box;
}

.cardSwip .content a{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #262626;
	color: #262626;
	font-weight: 600;
}

.cardSwip .sliderText{
	position: relative;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

.cardSwip .sliderText h3{
	color: #fff;
	font-size: 3em;
}

.swiper-slide{
	width: 400px;
}

.swiper-slide .sliderText{
	background: #2196f3;
}

.text1{
	font-size:2em;
	border-radius: 10px;
	/*background-color: rgba(46, 127, 240, 0.3);
	box-shadow: 1px 5px 5px #2e7ff0;*/
	width: 100%;
	height: 100%;
	margin: auto;

}

.colorlink{
	color: black;
}

.footerlink{
	color: black;
}

.footerlink:hover{
	color: white;
	text-decoration: none;
}
