{% extends 'base.html.twig' %}

{% block title %}
	Accueil!
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}

		<h2 class="text1 text-center text-uppercase">Dernières actualités</h2>

	<section class="py-5 mb-5">
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
					<div class="card">
						<div class="sliderText">
							<h3>Actu 1</h3>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<div class="sliderText">
							<h3>Actu 2</h3>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<div class="sliderText">
							<h3>Actu 3</h3>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<div class="sliderText">
							<h3>Actu 4</h3>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<div class="sliderText">
							<h3>Actu 5</h3>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<a href="#">En savoir plus</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block javascripts %}

	<script src="/js/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
	      effect: 'coverflow',
	      grabCursor: true,
	      centeredSlides: true,
	      slidesPerView: 'auto',
	      coverflowEffect: {
	        rotate: 30,
	        stretch: 0,
	        depth: 200,
	        modifier: 1,
	        slideShadows : true,
	      },
	      pagination: {
	        el: '.swiper-pagination',
	      },
	    });
	</script>

{% endblock %}
