{% extends 'admin.html.twig' %}

{% block title %}Gestion Photos{% endblock %}

{% block content %}

	<section class="py-2 mb-5">
		<h2>Titre pour la gestion des photos</h2>
	</section>

{% endblock %}
