{% extends 'admin.html.twig' %}

{% block title %}Gestion Participants{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
		<h2>Titre pour la gestion des participants aux balades</h2>


	</section>

{% endblock %}
