{% extends 'admin.html.twig' %}

{% block title %}Gestion Balades{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
		<h2>Titre pour la gestion & validation des balades</h2>


	</section>

{% endblock %}
