{% extends 'admin.html.twig' %}

{% block title %}Gestion Photos{% endblock %}

{% block content %}

	<section class="py-2 mb-5">
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<strong>Liste des inscrits</strong>
					</div>
					<div class="card-body">
						<div>Infos sur la balade</div>

						<!-- <div class="table-responsive"> -->
						  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							    <thead>
									<tr>

									</tr>
							    </thead>
							    <tbody>

							    </tbody>
						  	</table>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
