{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}

{% block content %}
<main>
	<div id="content">
	    <div class="row">
	  		{% for ph in photos %}
	            <div class="col-md-4">
	                <p class="imglist" style="max-width: 1000px;">
	                    <figure>
	                        <!-- A modifier le lien pour montrer les photos de l'album séléctionné uniquement -->
	                        <a href="{{ '/' ~ uploadDir ~ ph.getFileName() }}" data-fancybox="images" data-caption="{{ ph.getLegende() }}">
	                            <img class="img-fluid" src="{{ '/' ~ uploadDir ~ ph.getFileName() }}">
	                        </a>   
	                    </figure>
	                </p>    
	                <div>{{ ph.getLegende() }}</div> 
	            </div>                  
	        {% endfor %} 
	    </div>
	</div>
</main>
{% endblock %}


{% block javascripts %}
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<!-- <script src="test_francy.js"></script>-->
{% endblock %}
