{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block stylesheets %}
    <!-- Lien du CSS albums -->
    <link rel="stylesheet" type="text/css" href="/css/stylesportfolio.css">
 {% endblock %}


{% block content %}
<section class="py-2 mb-5">
	<div id="content" class="container my-5 pb-5">
	    <div class="row">
	  		{% for ph in photos %}
	            <div class="col-sm-6 col-md-4 col-lg-3">
	                <p class="imglist">
	                    <figure>
	                        <a href="{{ '/' ~ uploadDir ~ ph.getFileName() }}" data-fancybox="images" data-caption="{{ ph.getLegende() }}">
	                            <img class="img-fluid img-pf" src="{{ '/' ~ uploadDir ~ ph.getFileName() }}">
	                        </a>   
	                    </figure>
	                </p> 
	            </div>                  
	        {% endfor %} 
	    </div>
	</div>
</section>
{% endblock %}


{% block javascripts %}
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<!-- <script src="test_francy.js"></script>-->
{% endblock %}
