{% extends 'admin.html.twig' %} 

{% block title %}SB Admin - Register{% endblock %}

{% block content %}

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">S'inscrire</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="form-group">
            <label for="email">Adresse email</label>
            <input type="email" id="email" name="email" class="form-control" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="confirmpassword">Confirmer le mot de passe</label>
                <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" id="lastName" name="lastname" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" id="firstName" name="firstname" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="birthday">Date de Naissance</label>
                <input type="date" id="birthday" name="birthday" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Numéro de Téléphone</label>
                <input type="text" id="phone" name="phone" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" id="address" name="address" class="form-control" required>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="postal_code">Code Postal</label>
                <input type="text" id="postal_code" name="postal_code" class="form-control" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Ville">Ville</label>
                <input type="text" id="Ville" name="Ville" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-block" href="login.html">S'inscrire</a>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="login.html">Se connecter</a>
        <a class="d-block small" href="forgot-password.html">Mot de passe oublié ?</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}