{% extends 'admin.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
    
<div class="card mb-3">
    <h1>Profil</h1>
    <div class="card-header">
    </div>
  	<div class="card-body">
  		{% for rank in app.session.get('ranks') %}
  		<div class="alert alert-success">{{ rank }}</div>
  		{% endfor %}
	</div>
	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}
