{% extends 'admin.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
	<h1>Profil</h1>
	<div class="card mb-3">
	    <div class="card-header">Mes informations</div>
	  	<div class="card-body">
	  		{% if app.session.get('acces') is not null %}
	  		<div>Votre rang : <strong>{{ app.session.get('acces') }}</strong></div>
	  		{% endif %}
		</div>
	</div>
{% endblock %}
